
<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr role="row">
            <% for (let col of data.columns) { %>
                <th class="<%= data.sortField == col.field ? data.sortDir : data.notSorted %>" data-field="<%= col.field %>">
                    <%= col.name %>
                </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for (let i in data.taskList) {
            const task = data.taskList[i];
        %>
            <tr class="<%= task.color %> color-palette clickable" role="row" data-id="<%= task.task_id%>">
                <% for (let j in data.columns) {
                    const { field, className } = data.columns[j];
                %>
                    <td class="<%= className %>" ><%= task[field] %></td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
