<div class="row">
    <div class="alert alert-danger hidden">
        <div>
            <h4><i class="icon fa fa-ban"></i> Возникла ошибка!</h4>
            {{ error }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">#{{ task_id }} {{ title }}</h3>
            </div>

            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Status</h5>
                            <span class="description-text">{{ status }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Estimated hours</h5>
                            <span class="description-text">{{ estimated }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Open Time</h5>
                            <span class="description-text">{{format_date open_time }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Owner</h5>
                            <span class="description-text">{{ user }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Worked hours</h5>
                            <span class="description-text">{{ worked }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Deadline</h5>
                            <span class="description-text">{{format_date deadline }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                        {{breaklines description }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{#ifIn 'log' perms}}
                    <a class="btn btn-primary modal-button" data-type="log">Log</a>
                {{/ifIn}}

                {{#ifIn 'assign' perms}}
                    <a class="btn btn-primary" (click)="openModal('assign')">Assign</a>
                {{/ifIn}}

                {{#ifIn 'edit' perms}}
                    <a class="btn btn-primary" href="/actions/edit.php?id={{task.id}}&setmode=ticket_tab_1">Edit</a>
                {{/ifIn}}

                {{#ifIn 'reject' perms}}
                    <a class="btn btn-primary" href="/actions/reject.php?id={{task.id}}&setmode=ticket_tab_1">Reject</a>
                {{/ifIn}}

                {{#ifIn 'close' perms}}
                    <a class="btn btn-danger modal-button" data-type="close">Close</a>
                {{/ifIn}}
            </div>
        </div>

        <div class="row logs-outlet">
        </div>
    </div>

</div>
